<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
  <property name="format" value="[%-5level] %-15logger{15} - %m%n" />


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${format}</pattern>
    </encoder>
  </appender>


  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

